## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia

matrix:
  include:
    - os: linux
      sudo: required
      julia: 0.6
    - os: linux
      sudo: required
      julia: nightly
    - os: linux
      language: generic
      env: MARCH=i686
# As of 2017-08-25 osx builds take forever.  Disabling.
#    - os: osx
#      julia: 0.6
  allow_failures:
    - os: osx

notifications:
  email: false
git:
  depth: 99999999

## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
#matrix:
#  allow_failures:
#  - julia: nightly

## uncomment and modify the following lines to manually install system packages
addons:
  apt: # apt-get for linux
    packages:
     - libc6:i386
     - libncurses5:i386
     - libstdc++6:i386
     - libz-dev:i386
     - clang-3.9:i386
     - libssl1.0.0
     - gcc-multilib
     - g++-multilib
     - make:i386
     - libssl-dev:i386
     - gfortran
     - gfortran-multilib
install:
  - source ./.travis/install.sh
before_script:
  - echo '-1"kdb+ "," "sv string .z.o,.z.K,.z.k;exit 0' | $HOME/q/?32/q
  - julia -e 'versioninfo()'
## uncomment the following lines to override the default test script
script:
  - julia -e 'Pkg.clone(pwd()); Pkg.build("JuQ"); Pkg.test("JuQ"; coverage=true)'
  - if [ -n "$MARCH" ]; then $HOME/q/l32/q julia.q -e@ 'include("test/runtests.jl")' -q; fi
after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("JuQ")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("JuQ")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
  # build the documentation
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'cd(Pkg.dir("JuQ")); include(joinpath("docs", "make.jl"))'
